/*<<<<<<< HEAD

#blue{
  background-color: blue;
  position: fixed;
  top:0px;
  left:0px;
}
body{
=======
.Bigger > .abc{
>>>>>>> b55786a696931565641cc3e477c143674b990992
  background-color: red;
}*/
.home{
  border: solid red 1px;
  width: 100%;
  position: fixed;
  top:2%;
  left:0px;
}
.content{
  position: relative;
  top: 1%;
  right: 99%;
  background-color: green;
}
