.icons{
  position: absolute;
  top:60px;
  right:0px;
}
.fa:hover{
  font-size: 50px;
}
.quote{
  font-size: 40px;
  font-style: italic;
  background-image: url(https://image.freepik.com/free-vector/blue-and-green-wavy-background_1035-7430.jpg);
  background-attachment: fixed;
  color: white;

}
.gallary-container{
  position: relative;
}
.description{
  position: absolute;
  bottom: 0px;
  background-color: #5e6166;
  color: white;
  padding-left: 10px;

  font-weight: bold;
}
h3{
  background-color: black;
  color: white;
}
